　 特殊 O
が 助詞 O
、 特殊 O
その 指示詞 O
一方 名詞 O
で 助詞 O
、 特殊 O
「 特殊 O
わかり 動詞 O
にくい 接尾辞 O
」 特殊 O
と 助詞 O
いう 動詞 O
声 名詞 O
も 助詞 O
多い 形容詞 O
。 特殊 O

　 特殊 O
タイ 名詞 B-Country
各紙 名詞 O
は 助詞 O
、 特殊 O
内務 名詞 B-Government
省 名詞 I-Government
筋 名詞 O
の 助詞 O
情報 名詞 O
と 助詞 O
して 動詞 O
、 特殊 O
死者 名詞 O
の 助詞 O
うち 名詞 O
警官 名詞 B-Position_Vocation
が 助詞 O
正当 形容詞 O
防衛 名詞 O
で 助詞 O
射殺 名詞 O
した 動詞 O
容疑 名詞 B-Position_Vocation
者 接尾辞 I-Position_Vocation
は 助詞 O
三十七 名詞 B-N_Person
人 接尾辞 I-N_Person
。 特殊 O

お互い 名詞 O
の 助詞 O
無事 形容詞 O
を 助詞 O
確認 名詞 O
し 動詞 O
あう 動詞 O
。 特殊 O

スピカ 名詞 B-Company
インフォメーション 名詞 I-Company
☎ 特殊 O
０１１・２８０・７８３５ 名詞 B-Phone_Number
◆ 特殊 O
燐光 名詞 B-Occasion_Other
群 名詞 I-Occasion_Other
＋ 特殊 I-Occasion_Other
グッドフェローズ 名詞 I-Occasion_Other
プロデュース 名詞 I-Occasion_Other
「 特殊 I-Occasion_Other
ＣＶＲ 名詞 I-Occasion_Other
チャーリー 未定義語 I-Occasion_Other
・ 特殊 I-Occasion_Other
ビクター 名詞 I-Occasion_Other
・ 特殊 I-Occasion_Other
ロミオ 名詞 I-Occasion_Other
」 特殊 I-Occasion_Other
　 特殊 O
実際 副詞 O
に 助詞 O
起きた 動詞 O
６ 名詞 B-N_Event
件 接尾辞 I-N_Event
の 助詞 O
飛行機 名詞 O
事故 名詞 O
の 助詞 O
ボイス 名詞 O
・ 特殊 O
レコーダー 名詞 O
に 助詞 O
残さ 動詞 O
れた 接尾辞 O
記録 名詞 O
を 助詞 O
再現 名詞 O
し 動詞 O
、 特殊 O
極限 名詞 O
状態 名詞 O
に 助詞 O
おける 動詞 O
人間 名詞 B-Mammal
の 助詞 O
心理 名詞 O
を 助詞 O
描き 動詞 O
出した 動詞 O
作品 名詞 O
。 特殊 O

高平 名詞 B-Person
は 助詞 O
「 特殊 O
次 名詞 O
は 助詞 O
一番 副詞 B-Rank
上 名詞 I-Rank
を 助詞 O
狙い 動詞 O
たい 接尾辞 O
」 特殊 O
と 助詞 O
意欲 名詞 O
満々 副詞 O
。 特殊 O

けれども 接続詞 O
、 特殊 O
この 指示詞 O
言葉 名詞 O
が 助詞 O
こと新しく 形容詞 O
使わ 動詞 O
れ 接尾辞 O
始めた 動詞 O
の 名詞 O
は 助詞 O
、 特殊 O
アンリ 名詞 B-Person
・ 特殊 I-Person
ゴー 名詞 I-Person
と 助詞 O
クリスチャン 名詞 B-Person
・ 特殊 I-Person
ミヨー 名詞 I-Person
（ 特殊 O
ゴー 名詞 B-Person
・ 特殊 I-Person
エ 未定義語 I-Person
・ 特殊 I-Person
ミヨー 名詞 I-Person
で 助詞 O
通って 動詞 O
いる 接尾辞 O
食味 名詞 B-Position_Vocation
評論 名詞 I-Position_Vocation
家 接尾辞 I-Position_Vocation
） 特殊 O
が 助詞 O
ラジオ 名詞 O
で 助詞 O
ヨーロッパ 名詞 B-Continental_Region
中 接尾辞 I-Continental_Region
の 助詞 O
レストラン 名詞 O
の 助詞 O
評判 名詞 O
に 助詞 O
ついて 動詞 O
井戸端 名詞 O
会議 名詞 O
を 助詞 O
やる 動詞 O
ように 助動詞 O
なった 接尾辞 O
のに 助動詞 O
端 名詞 O
を 助詞 O
発して 動詞 O
いる 接尾辞 O
ようだ 助動詞 O
。 特殊 O

多く 名詞 O
の 助詞 O
方 名詞 O
は 助詞 O
、 特殊 O
この 指示詞 O
建物 名詞 O
を 助詞 O
見れば 動詞 O
少なくとも 副詞 O
坪 名詞 B-Money
単価 名詞 I-Money
七〇万 名詞 I-Money
円 接尾辞 I-Money
以上 接尾辞 I-Money
に 助詞 O
は 助詞 O
見える 動詞 O
と 助詞 O
思い 動詞 O
ます 接尾辞 O
。 特殊 O

［ 特殊 O
Ｐｈｏｎｅ 名詞 O
］ 特殊 O
　 特殊 O
０３ 名詞 B-Phone_Number
‐ 特殊 I-Phone_Number
３３２８ 名詞 I-Phone_Number
‐ 特殊 I-Phone_Number
８４３１ 名詞 I-Phone_Number
［ 特殊 O
ＵＲＬ 名詞 O
］ 特殊 O
　 特殊 O
ｈｔ 未定義語 B-URL
ｔｐ 未定義語 I-URL
： 特殊 I-URL
／ 特殊 I-URL
／ 特殊 I-URL
ｗｗｗ． 名詞 I-URL
ｂｌａｃｋｉｃｅ 未定義語 I-URL
． 特殊 I-URL
ｊｐ 未定義語 I-URL
／ 特殊 I-URL
Ｅｖｅｎｔ 名詞 O
　 特殊 O
Ｃａｌｅｎｄａｒ 名詞 O
◆ 特殊 O
開催 名詞 O
場所 名詞 O
／ 特殊 O
◇ 特殊 O
連絡 名詞 O
先 名詞 O
　 特殊 O
この 指示詞 O
カレンダー 名詞 O
は 助詞 O
あくまで 副詞 O
予定 名詞 O
です 判定詞 O
。 特殊 O

マイナス 名詞 O
イオン 名詞 O
に 助詞 O
包ま 動詞 O
れる 接尾辞 O
感じ 名詞 O
が 助詞 O
する 動詞 O
。 特殊 O

監督 名詞 B-Position_Vocation
を 助詞 O
務める 動詞 O
の 名詞 O
は 助詞 O
初めて 副詞 O
の 助詞 O
経験 名詞 O
。 特殊 O