やはり 副詞 O
、 特殊 O
物語 名詞 O
の 助詞 O
舞台 名詞 O
を 助詞 O
海外 名詞 O
に 助詞 O
移して 動詞 O
、 特殊 O
懐かし 形容詞 O
さ 接尾辞 O
の 助詞 O
ある 動詞 O
レトロ 名詞 B-Doctrine_Method_Other
空想 名詞 I-Doctrine_Method_Other
ロマン 名詞 I-Doctrine_Method_Other
を 助詞 O
放棄 名詞 O
して 動詞 O
しまった 接尾辞 O
の 名詞 O
が 助詞 O
敗因 名詞 O
でしょう 判定詞 O
か 助詞 O
。 特殊 O

ようやく 副詞 O
来た 動詞 O
か 助詞 O
って 助詞 O
感じ 名詞 O
です 判定詞 O
。 特殊 O

。 特殊 O
ドラゴンクエスト 名詞 B-Product_Other
Ⅷ 未定義語 I-Product_Other
に 助詞 O
関する 動詞 O
質問 名詞 O
です 判定詞 O
。 特殊 O

レベル 名詞 O
は 助詞 O
４５ 名詞 B-Measurement_Other
〜 特殊 I-Measurement_Other
５０ 名詞 I-Measurement_Other
くらい 助詞 O
あれば 動詞 O
大丈夫です 形容詞 O
。 特殊 O

安い 形容詞 O
から 助詞 O
と 助詞 O
いって 動詞 O
、 特殊 O
遠く 名詞 O
の 助詞 O
お 接頭辞 O
店 名詞 O
に 助詞 O
行って 動詞 O
しまって 接尾辞 O
は 助詞 O
、 特殊 O
かえって 副詞 O
交通 名詞 O
費 接尾辞 O
かかって 動詞 O
しまって 接尾辞 O
高く 形容詞 O
なる 接尾辞 O
。 特殊 O

。 特殊 O
金八 名詞 B-Broadcast_Program
先生 名詞 I-Broadcast_Program
の 助詞 O
ＤＶＤ 名詞 O
が 助詞 O
欲しい 形容詞 O
んです 助動詞 O
が 助詞 O
どうして 指示詞 O
３ 名詞 B-Ordinal_Number
作 名詞 I-Ordinal_Number
目 接尾辞 I-Ordinal_Number
は 助詞 O
販売 名詞 O
して 動詞 O
ない 接尾辞 O
んでしょう 助動詞 O
か 助詞 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
？ 特殊 O
三 名詞 B-Broadcast_Program
年 接尾辞 I-Broadcast_Program
Ｂ 特殊 I-Broadcast_Program
組 名詞 I-Broadcast_Program
金八 名詞 I-Broadcast_Program
先生 名詞 I-Broadcast_Program
パート 名詞 I-Broadcast_Program
３ 名詞 I-Broadcast_Program
は 助詞 O
、 特殊 O
オンエア 名詞 O
が 助詞 O
１０ 名詞 B-Date
〜 特殊 I-Date
１２ 名詞 I-Date
月 接尾辞 I-Date
と 助詞 O
変則だった 形容詞 O
ので 助動詞 O
、 特殊 O
卒業 名詞 B-Occasion_Other
式 名詞 I-Occasion_Other
が 助詞 O
あり 動詞 O
ませ 接尾辞 O
ん 助動詞 O
でした 判定詞 O
。 特殊 O

。 特殊 O

。 特殊 O

。 特殊 O
大泉 名詞 B-Person
洋 名詞 I-Person
さん 接尾辞 B-Title_Other
は 助詞 O
甘い 形容詞 O
物 名詞 O
は 助詞 O
すきな 形容詞 O
のでしょう 助動詞 O
か 助詞 O
？ 特殊 O
どう 指示詞 O
でしょう 判定詞 O
で 助詞 O
、 特殊 O
ミスター 名詞 B-Person
は 助詞 O
いつも 副詞 O
甘い 形容詞 O
物 名詞 O
が 助詞 O
嫌いな 形容詞 O
の 名詞 O
に 助詞 O
無理矢理 副詞 O
食べて 動詞 O
い 接尾辞 O
ます 接尾辞 O
が 助詞 O
、 特殊 O
大泉 名詞 B-Person
さん 接尾辞 B-Title_Other
も 助詞 O
少し 副詞 O
食べて 動詞 O
い 接尾辞 O
ます 接尾辞 O
が 助詞 O
、 特殊 O
甘い 形容詞 O
物 名詞 O
が 助詞 O
きらい 名詞 O
っぽい 接尾辞 O
？ 特殊 O
の 助詞 O
か 助詞 O
好きな 形容詞 O
の 助動詞 O
か 助詞 O
よく 副詞 O
分かり 動詞 O
ませ 接尾辞 O
ん 助動詞 O
。 特殊 O

一説 名詞 O
に 助詞 O
よる 動詞 O
と 助詞 O
、 特殊 O
ミスター 名詞 B-Person
の 助詞 O
「 特殊 O
甘い 形容詞 O
もの 名詞 O
嫌い 形容詞 O
」 特殊 O
は 助詞 O
キャラ 名詞 O
作り 接尾辞 O
だ 判定詞 O
と 助詞 O
いう 動詞 O
噂 名詞 O
も 助詞 O
。 特殊 O