〈 特殊 O
横浜 名詞 B-Pro_Sports_Organization
〉 特殊 O
　 特殊 O
石井 名詞 B-Person
琢朗 名詞 I-Person
内野手 名詞 B-Position_Vocation
が 助詞 O
１８ 名詞 B-Date
日 接尾辞 I-Date
、 特殊 O
出場 名詞 B-Product_Other
選手 名詞 I-Product_Other
登録 名詞 I-Product_Other
を 助詞 O
抹消 名詞 O
さ 動詞 O
れた 接尾辞 O
。 特殊 O

闘病 名詞 O
や 助詞 O
死 名詞 O
の 助詞 O
不安 形容詞 O
、 特殊 O
恋心 名詞 O
… 特殊 O
。 特殊 O

なぜ 副詞 O
、 特殊 O
このような 指示詞 O
こと 名詞 O
が 助詞 O
起こる 動詞 O
か 助詞 O
と 助詞 O
いう 動詞 O
と 助詞 O
、 特殊 O
後ろ 名詞 O
寄り 名詞 O
の 助詞 O
荷重 名詞 O
で 助詞 O
滑って 動詞 O
しまって 接尾辞 O
いる 接尾辞 O
ため 名詞 O
、 特殊 O
スキー 名詞 B-Sport
板 名詞 O
の 助詞 O
トップ 名詞 O
部 名詞 O
の 助詞 O
コントロール 名詞 O
が 助詞 O
甘い 形容詞 O
から 助詞 O
です 判定詞 O
。 特殊 O

それ 指示詞 O
で 助詞 O
どうして 指示詞 O
文句 名詞 O
が 助詞 O
ある 動詞 O
だろう 助動詞 O
か 助詞 O
。 特殊 O

若手 名詞 O
だった 判定詞 O
オランダ 名詞 B-Country
・ 特殊 O
ＰＳＶ 名詞 B-Pro_Sports_Organization
の 助詞 O
ＭＦ 名詞 B-Position_Vocation
朴 名詞 B-Person
智星 名詞 I-Person
（ 特殊 O
２４ 名詞 B-Age
） 特殊 O
と 助詞 O
李 名詞 B-Person
栄杓 未定義語 I-Person
（ 特殊 O
２８ 名詞 B-Age
） 特殊 O
が 助詞 O
、 特殊 O
いまや 副詞 O
チーム 名詞 O
の 助詞 O
核 名詞 O
。 特殊 O

　 特殊 O
平成 名詞 B-Date
１３ 名詞 I-Date
年度 接尾辞 I-Date
は 助詞 O
， 特殊 O
８ 名詞 B-Date
月 接尾辞 I-Date
２７ 名詞 I-Date
日 接尾辞 I-Date
〜 特殊 I-Date
９ 名詞 I-Date
月 接尾辞 I-Date
３０ 名詞 I-Date
日 接尾辞 I-Date
に 助詞 O
， 特殊 O
アジア 名詞 B-Continental_Region
諸国 名詞 I-Continental_Region
等 接尾辞 O
１０ 名詞 B-N_Country
か国 接尾辞 I-N_Country
１１ 名詞 B-N_Person
名 接尾辞 I-N_Person
（ 特殊 O
インドネシア 名詞 B-Country
， 特殊 O
ケニア 名詞 B-Country
， 特殊 O
スリ 名詞 B-Country
・ 特殊 I-Country
ランカ 名詞 I-Country
， 特殊 O
タイ 名詞 B-Country
， 特殊 O
中国 名詞 B-Country
， 特殊 O
バヌアツ 名詞 B-Country
， 特殊 O
ブラジル 名詞 B-Country
， 特殊 O
ブルガリア 名詞 B-Country
， 特殊 O
マレイシア 名詞 B-Country
， 特殊 O
モンゴル 名詞 B-Country
） 特殊 O
の 助詞 O
競争 名詞 O
当局 名詞 O
等 接尾辞 O
の 助詞 O
中堅 名詞 B-Position_Vocation
職員 名詞 I-Position_Vocation
を 助詞 O
対象 名詞 O
に 助詞 O
， 特殊 O
研修 名詞 O
を 助詞 O
実施 名詞 O
した 動詞 O
。 特殊 O

　 特殊 O
大切に 形容詞 O
育てて 動詞 O
いた 接尾辞 O
ペット 名詞 O
が 助詞 O
亡くなって 動詞 O
、 特殊 O
生きる 動詞 O
気力 名詞 O
を 助詞 O
なくして 動詞 O
しまう 接尾辞 O
人 名詞 O
が 助詞 O
たくさん 副詞 O
い 動詞 O
ます 接尾辞 O
。 特殊 O

地方 名詞 O
地域 名詞 O
社会 名詞 O
や 助詞 O
地域 名詞 O
社会 名詞 O
の 助詞 O
プロジェクト 名詞 O
に 助詞 O
介入 名詞 O
する 動詞 O
こと 名詞 O
を 助詞 O
考えて 動詞 O
いる 接尾辞 O
企業 名詞 O
の 助詞 O
ため 名詞 O
に 助詞 O
， 特殊 O
プロジェクト 名詞 O
を 助詞 O
最善の 形容詞 O
形 名詞 O
で 助詞 O
推進 名詞 O
する 動詞 O
選択肢 名詞 O
を 助詞 O
我々 名詞 O
は 助詞 O
開発 名詞 O
し 動詞 O
ました 接尾辞 O
。 特殊 O

　 特殊 O
と 助詞 O
なれば 動詞 O
、 特殊 O
今 名詞 O
の 助詞 O
内 名詞 O
に 助詞 O
離党 名詞 O
して 動詞 O
自民党 名詞 B-Political_Party
に 助詞 O
恩 名詞 O
を 助詞 O
売り 動詞 O
、 特殊 O
時期 名詞 O
を 助詞 O
見て 動詞 O
自民党 名詞 B-Political_Party
に 助詞 O
入党 名詞 O
しよう 動詞 O
と 助詞 O
いう 動詞 O
の 名詞 O
が 助詞 O
彼 名詞 O
ら 接尾辞 O
の 助詞 O
狙い 名詞 O
で 判定詞 O
は 助詞 O
ない 接尾辞 O
でしょう 助動詞 O
か 助詞 O
。 特殊 O

　 特殊 O
この 指示詞 O
事例 名詞 O
から 助詞 O
感ずる 動詞 O
の 名詞 O
は 助詞 O
、 特殊 O
田中 名詞 B-Person
外 名詞 B-Position_Vocation
相 名詞 I-Position_Vocation
の 助詞 O
外交 名詞 O
政策 名詞 O
の 助詞 O
基本 名詞 O
は 助詞 O
国益 名詞 O
より 助詞 O
も 助詞 O
私情 名詞 O
に 助詞 O
ある 動詞 O
ので 助動詞 O
は 助詞 O
ない 接尾辞 O
か 助詞 O
と 助詞 O
いう 動詞 O
ことだ 助動詞 O
。 特殊 O